---
import Layout from "../../layouts/Layout.astro";
import { allFeeds } from "../../data/parser";
import { fetchFeeds } from "../../lib/api/fetchFeeds";

export async function getStaticPaths() {
    try {
        const res = await fetchFeeds({
            method: "GET",
            req: Astro.request,
        });

        const { data } = JSON.parse(res);

        const feeds = await allFeeds(data as { id: string; url: string }[]);

        const feedList: Record<string, Record<string, any>>[] = feeds.map(
            (fl) => {
                return {
                    params: {
                        id: fl.id,
                    },
                    props: {
                        feeds: feeds.filter((f) => f.id === fl.id),
                    },
                };
            }
        );

        return feedList
            ? feedList
            : [
                  {
                      params: {
                          id: "404",
                      },
                      props: {
                          feeds: null,
                      },
                  },
              ];
    } catch (error) {
        console.log(error);

        return [
            {
                params: {
                    id: "404",
                },
                props: {
                    feeds: null,
                },
            },
        ];
    }
}

const { feeds } = Astro.props;
const lastUpdated =
    feeds[0].items.length !== 0
        ? feeds[0].items[0].pubDate
        : feeds[0].lastBuildDate;
---

<Layout title=`Feed - ${feeds[0].title} - rssed`>
    <div id="feed_content" data-feed-id={feeds[0].id} data-last-published-time={lastUpdated}>
        <div>
            <hr class="design_element" />
            <h2>{feeds ? feeds[0].title : "feed not found!"}</h2>
            <p>{feeds && "Posts"}</p>
        </div>
        {
            feeds && feeds[0].items.length !== 0 ? (
                feeds?.map((f: any) => {
                    return f.items.map((item: any) => {
                        const description =
                            item.contentSnippet ||
                            item.summary ||
                            item.content ||
                            item["content:encodedSnippet"] ||
                            item["content:encoded"];
                        return (
                            <div class="post">
                                <h3>
                                    <a href={item.link} target="_blank" rel="noopener noreferrer">
                                        {item.title}
                                    </a>
                                    {` 🔗`}
                                </h3>
                                {description && (
                                    <p>
                                        {`${description.substring(0, 150)} `}
                                        <a href={item.link}>[...]</a>
                                    </p>
                                )}
                            </div>
                        );
                    });
                })
            ) : (
                <p>No posts found.</p>
            )
        }
    </div>
</Layout>

<style>
    .design_element {
        width: 3rem;
        background-color: rgba(201, 125, 96, 0.3);
        height: 0.2rem;
        outline: none;
        border: none;
        margin-bottom: 0.5rem;
    }
    #feed_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .post {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border: 0.3rem solid rgba(201, 125, 96, 0.3);
        border-radius: 1rem;
    }
</style>

<script>
    const { feedId, lastPublishedTime } = (document.querySelector("#feed_content") as HTMLElement)
        .dataset;
    localStorage.setItem(
        feedId as string,
        JSON.stringify({
            read: true,
            timestamp: new Date(lastPublishedTime as string).getTime(),
        })
    );
</script>
