---
import Layout from "../layouts/Layout.astro";
import { allFeeds } from "../data/parser";
import { fetchFeeds } from '../lib/api/fetchFeeds'

import dayjs from 'dayjs';
import relativeTime from 'dayjs/plugin/relativeTime';

dayjs.extend(relativeTime);

let feeds = null;
let err = null;

const res = await fetchFeeds()
const { data } = JSON.parse(res)
feeds = await allFeeds(data)

const feedsToSort = feeds.filter(f => {
    return (f.items.length !== 0 && f.title !== 'Syntackle')
}).map(feed => {
    feed.items.sort((a: Record<string, any>, b: Record<string, any>) => {
        return (new Date(b.pubDate) as unknown as number) - (new Date(a.pubDate) as unknown as number)
    })
    return feed
})

feedsToSort.sort((a, b) => {
    const lastUpdatedA = (a.items.length !== 0 ? a.items[0].pubDate : a.lastBuildDate) as string
    const lastUpdatedB = (b.items.length !== 0 ? b.items[0].pubDate : b.lastBuildDate) as string
    return (new Date(lastUpdatedB) as unknown as number) - (new Date(lastUpdatedA) as unknown as number);
})

feeds = [
    ...feeds.filter(f => f.title === 'Syntackle'),
    ...feedsToSort,
    ...feeds.filter(f => (f.items.length === 0))
]

---

<Layout title="rssed - a collection of developer RSS feeds - blogroll">
    <div id="feed_list" data-feed-list={
        JSON.stringify(
            feeds.map(feed => {
                const lastUpdatedDate = new Date((feed.items.length !== 0 ? feed.items[0].pubDate : feed.lastBuildDate) as string);
                return {
                    id: feed.id,
                    title: feed.title,
                    link: feed.link,
                    dataLastPublished: lastUpdatedDate,
                    dataItems: feed.items.length !== 0,
                    lastUpdatedLocaleDateString: lastUpdatedDate.toISOString(),
                    sinceLastUpdate: dayjs().to(dayjs(lastUpdatedDate))
                }
            })
        )
    }>
        {
            feeds ? feeds?.map((feed) => {
                const lastUpdated = (feed.items.length !== 0 ? feed.items[0].pubDate : feed.lastBuildDate) as string;
                return (
                    <div class="feed" data-items={`${feed.items.length !== 0}`} data-last-published={new Date(lastUpdated)} data-feed-id={feed.id}>
                        <h2>
                            <a href={`/feed/${feed.id}`}>{feed.title}</a>
                        </h2>
                        <p>{feed.link}</p>
                        {
                            feed.title === "Syntackle" ? <p>shameless promotion &#10085;</p> : <></>
                        }
                        <time datetime={new Date(lastUpdated).toISOString()}>
                            {
                                dayjs().to(dayjs(lastUpdated))
                            }
                        </time>
                    </div>
                );
            }).slice(0, 20) : (
                err ? (
                    <p>Oops. {err}</p>
                    <i>
                        <a href="https://github.com/murtuzaalisurti/rssed">Report an issue</a>
                        🐛
                    </i>
                ) : (
                    <p>No feeds found!</p>
                    <i>
                        <a href="https://github.com/murtuzaalisurti/rssed">Report an issue</a>
                        🐛
                    </i>
                )
            )
        }
    </div>
    <button id="more">show more</button>
</Layout>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.feed').forEach(e => {
            const ele = e as HTMLElement;
            const feedId = ele.dataset.feedId as string;
            const lastPublishedTime = new Date(`${ele.dataset.lastPublished}`).getTime();

            if (!localStorage.getItem(feedId)) {

                localStorage.setItem(feedId, JSON.stringify({
                    read: true,
                    timestamp: lastPublishedTime
                }));

                ele.classList.remove('feed_banner');

            } else {

                const prevPostLogRead = JSON.parse(localStorage.getItem(feedId) as string);
                const loggedPublishTime = Number(prevPostLogRead.timestamp);

                if (!((lastPublishedTime - loggedPublishTime) <= 0)) {

                    const newPostLogUnread = {
                        ...prevPostLogRead,
                        read: false
                    }
                    localStorage.setItem(feedId, JSON.stringify(newPostLogUnread));

                    ele.dataset.items === 'true' && ele.classList.add('feed_banner');
                } else {
                    const read = JSON.parse(localStorage.getItem(feedId) as string).read;
                    read && ele.classList.remove('feed_banner');
                }
            }
        })
    });

    function populateTemplate({ id, link, title, dataItems, dataLastPublished, lastUpdatedLocaleDateString, sinceLastUpdate }: Record<string, any>) {
        return String.raw`
            <div class="feed" data-items=${dataItems} data-last-published="${dataLastPublished}" data-feed-id="${id}">
                <h2>
                    <a href="/feed/${id}">${title}</a>
                </h2>
                <p>${link}</p>
                ${
                    title === "Syntackle" ? "<p>shameless promotion &#10085;</p>" : ""
                }
                <time datetime="${lastUpdatedLocaleDateString}">
                    ${
                        sinceLastUpdate
                    }
                </time>
            </div>        
        `
    }

    (document.querySelector("#more") as HTMLButtonElement).addEventListener("click", () => {
        const feedListContainer = document.querySelector("#feed_list") as HTMLElement;
        const feedList = JSON.parse(feedListContainer.dataset.feedList as string);
        console.log(feedList);

        const currentlyDisplayedFeedsLength = feedListContainer.children.length;
        console.log(feedListContainer.children.length);

        const newFeeds = feedList?.slice(currentlyDisplayedFeedsLength, currentlyDisplayedFeedsLength + 10)
        console.log(newFeeds);

        for (const feed of newFeeds) {
            const html = populateTemplate(feed);
            const node = new DOMParser().parseFromString(html, "text/html").body.innerHTML;
            feedListContainer.insertAdjacentHTML("beforeend", node);
        }
        // populateTemplate(newFeeds);
    })
</script>